//Sets typography and image styling

.headers {
  text-align: center;
  font-family: $fancy;
  color: $almost-white;
  font-style: bold;
}

h1 {
  @extend .headers;
  font-size: $large;
}

h2 {
  @extend .headers;
  font-size: $medium;
}

h3 {
  @extend .headers;
  font-size: $medium;
}

h4 {
  @extend .headers;
  font-size: $medium;
}

h5 {
  @extend .headers;
  font-size: $medium;
}

h6 {
  @extend .headers;
  font-size: $small;
  font-style: bold;
}

//paragraph

p {
  text-align: left;
  font-family: $plain;
  font-size: $small;
}

a {
  font-family: $plain;
  color: $light-green;
}

a:visited {
  font-family: $plain;
  color: $light-green;
}
