//Colors, fonts, sizes, padding

//colors
$dark-blue: #244255;
$dark-green: #1f2826;
$light-green: #9ca23f;
$almost-black: #202221;
$almost-white: #fffbfc;

//font families
$fancy: Garamond;
$plain: Helvetica;

//font sizes
$large: 6vw;
$medium: 3vw;
$small: 1.5vw;

//padding
$no-padding: 0px;
$text-padding: 10px;
$container-padding: 20px;

//widths
$nine: 100vw;
$seven-five: 75vw;
$five: 50vw;
